# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/
Avro_Demo/target/
FlumeDemo/FlumeDemo.iml
FlumeDemo/src/
FlumeDemo/target/
HbaseDemo/HbaseDemo.iml
HbaseDemo/src/
HbaseDemo/target/
HdfsDemo/HdfsDemo.iml
HdfsDemo/src/
HdfsDemo/target/
HiveDemo/HiveDemo.iml
HiveDemo/src/
HiveDemo/target/
KafkaDemo/KafkaDemo.iml
KafkaDemo/src/
KafkaDemo/target/
Protobuf_Demo/target/
StormDemo/target/
Zookeeper_Demo/src/main/
Zookeeper_Demo/target/
src/
